{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/c3.min.css"/>

	<link rel="stylesheet" type="text/css" href="css/style.css?UPDATE" />
	<link rel="stylesheet" type="text/css" href="css/map.css?UPDATE" />
	<link rel="stylesheet" type="text/css" href="css/ion.rangeSlider.css" />
	<style>
	.c3-area {
		opacity: 0.6 !important;
	}
	.big{
		font-size: 2em;
	}
	.label{
		color: #555;
	}
	</style>
</head>

<body>

	{{ block('bar_brand') }}

	{# Emplacement pour le contenu principal #}
	<div class="container">

		<div class="row">
			<div class="offset-md-2 col-md-8 col-sm-12">
				<h1 class="intro">L’expansion du nouveau coronavirus</h1>

				<p class="lead">Le SARS-CoV-2 a causé <span class="deaths_total">____</span> décès et plus de <span class="confirmed_total_floor">_____</span> infections confirmées dans le monde. Il a atteint la Suisse le 25 février, quatre semaines après l’Italie. Suivi de la situation au jour le jour</p>

				<p style="margin-bottom: 4px;"><b>Avertissement</b></p>
				<ul>
					<li>La fiabilité et la disponibilité des données varie de pays en pays.</li>
					<li>Les cas confirmés ne correspondent qu’à une portion des cas réels.</li>
					<li>Les chiffres établis par les pays dépendent du nombre de tests effectués, de la qualité des tests et des critères retenus pour attribuer les décès au Covid-19.</li>
				</ul>

			</div>
		</div>

	<div class="row numbers text-center align-items-top margin-bottom worldmap">

		<div class="col-12 col-sm-6 group-label border">
			<div class="row">
				<div class="col-12">
					<h5>Le Covid-19 dans le monde</h5>
				</div>

				<div class="col-12 col-md-6">
					<span class="big confirmed_total">_____</span><br>
					<span class="label">cas confirmés</span>
				</div>
				<div class="col-12 col-md-6">
					<span class="big deaths_total">___</span><br>
					<span class="label">décès</span>
				</div>

				<div class="col-12 margin-top">
					<p class="small">Mis à jour le <span class="dashboardUpdate">_____________</span>, source:
						<a target="_blank" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Université Johns-Hopkins</a></p>
				</div>

			</div>
		</div>

		<div class="col-12 col-sm-6 group-label border">
			<div class="row">
				<div class="col-12">
					<h5>En Suisse</h5>
				</div>

				<div class="col-12 col-md-6">
					<span class="big confirmed_total_ch">___</span><br>
					<span class="label">cas confirmés</span>
				</div>
				<div class="col-12 col-md-6">
					<span class="big deaths_total_ch">___</span><br>
					<span class="label">décès</span>
				</div>

				<div class="col-12 margin-top">
					<p class="small">Mis à jour le <span class="dashboardUpdate_ch">_____________</span>, source:
						<a target="_blank" href="https://www.corona-data.ch/">Corona-data.ch</a>
					</p>
				</div>

			</div>
		</div>

	</div>


	<div class="row padding-bottom">
		<div class="col-lg-10 offset-md-1 col-md-12">
			<h5>Nombre quotidien de décès</h5>
			<p>Les Etats-Unis détiennent le triste record des décès quotidiens. La Corée du Sud n’a pas dépassé 9 décès en un jour et la Suisse a compté au plus 78 décès en 24 heures.</p>
			<!-- (jq 16 avril) Ce graphique aplanit les fluctuations avec une moyenne mobile sur trois jours.  -->
			<div class="multiline" id="chartMovingAvg"></div>
			<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
		</div>
	</div>

	<!-- <div class="row padding-bottom">
		<div class="col-lg-10 offset-md-1 col-md-12">
			<h5>Taux de décès quotidien</h5>
			<p></p>
			<div class="multiline" id="chartMovingAvgPop"></div>
			<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
		</div>
	</div> -->



		<!-- switzerland -->
	<div class="row align-items-end">
		<div class="col-12 group-label">
			<h5>Nombre de cas confirmés en Suisse depuis le 6 mars</h5>
			<p>Depuis le 10 avril, le nombre de cas confirmés augmente de moins de 2% par jour en Suisse. Le premier cas a été détecté le 25 février au Tessin, près d’un mois après l’arrivée du Covid-19 en Italie.</p>
		</div>

		<div class="col-12">
			<div id="time-serie-chart-ch"></div>
		</div>
		<div class="col-7 filter-container-ch">
			<label>Naviguer par date</label>
			<input type="text" id="range_sliderCH" />
		</div>
		<div class="col-1 col-lg-2">
			<button id="playpauseCH" class="button play-ch pause-ch"></button>
		</div>
		<div class="col-4 col-lg-3">
			<div class="form-check">
		    <input type="checkbox" class="form-check-input" id="showAbsoluteCH">
		    <label class="form-check-label" for="showAbsoluteCH">Valeurs absolues</label>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-9 col-sm-12">
			<div id="mapCH" class="map">
			</div>
		</div>

		<div class="col-lg-3 col-sm-12">
			<div class="map-details-CH">
				<h4></h4>
				<p>Survoler/toucher un canton pour plus d’informations.</p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="source"><b>Note:</b> les données cantonales manquantes sont substituées par celles du jour précédent.</div>
			<div class="source"><b>Source:</b> <a target="_blank" href="https://github.com/openZH/covid_19">OpenZH</a>, cantons suisses. Population dans les cantons: <a target="_blank" href="https://www.bfs.admin.ch/bfs/fr/home/statistiques/population/effectif-evolution/population.assetdetail.9486047.html">chiffres définitifs 2018 de l’OFS</a></div>
		</div>
	</div>


	<div class="row padding-bottom">
		<div class="col-lg-10 offset-md-1 col-md-12">
			<h5>Les cinq cantons suisses comptant le plus de cas par habitant</h5>
			<p>Genève, le Tessin et Vaud sont les cantons qui comptent le plus de cas confirmés pour 100 000 habitants. Chaque canton a ses propres procédures et horaires de publication des données, ce qui rend la comparaison difficile.</p>
				<div class="multiline" id="chartCantons"></div>
			<div class="source"><b>Source:</b> <a target="_blank" href="https://github.com/openZH/covid_19">OpenZH</a>, cantons suisses. Population dans les cantons: <a target="_blank" href="https://www.bfs.admin.ch/bfs/fr/home/statistiques/population/effectif-evolution/population.assetdetail.9486047.html">chiffres définitifs 2018 de l’OFS</a>. Les données pour Genève (qui publie des chiffres prévisionnels) ont été revues à la hausse le jeudi 8 avril par notre source de données.</div>
		</div>
	</div>



		<div class="row padding-bottom">
			<div class="col-lg-10 offset-md-1 col-md-12">
				<h5>Cas confirmés en valeurs absolues</h5>
				<p>Le nombre de cas confirmés en laboratoire grimpe en flèche aux Etats-Unis, qui sont cependant encore loin derrière l’Italie et l’Espagne en taux de cas par rapport à la population.</p>
				<div class="multiline" id="chartAbsolute"></div>
				<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
			</div>
		</div>

		<div class="row padding-bottom">
			<div class="col-lg-10 offset-md-1 col-md-12">
				<h5>Taux de cas confirmés par million d’habitants</h5>
				<p>Les pays sont alignés sur le jour où les cas confirmés atteignent le taux de 1 cas par million d’habitants. Pour la Suisse, ce «jour 0» est le 29 février, avec 12 cas. Des différences dans les méthodes et le nombre de tests effectués rendent cependant les comparaisons entre pays difficiles.</p>
				<div class="multiline" id="chartDayOffset"></div>
				<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
			</div>
		</div>

		<div class="row padding-bottom">
			<div class="col-lg-10 offset-md-1 col-md-12">
				<h5>Taux de décès par million d’habitants</h5>
				<p>Comme dans le graphique précédent, les pays sont alignés sur le jour où les cas confirmés atteignent le taux de 1 cas par million d’habitants. L’attribution ou non d’un décès au Covid-19 peut être difficile, en particulier lorsque la victime était affectée par plusieurs maladies. Les critères ne sont pas les mêmes dans chaque pays.</p>
				<div class="multiline" id="chartDeath"></div>
				<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
			</div>
		</div>

	<!-- toolbox -->

	<div class="row align-items-end">
		<div class="col-12 group-label">
			<h5>Evolution dans le monde depuis le 26 janvier</h5>
			<p>Les Etats-Unis sont devenus le nouvel épicentre de la pandémie. Relativement épargnée jusqu’à présent, l’Afrique compte de plus en plus de malades du Covid-19.</p>
		</div>

		<div class="col-12">
			<div id="time-serie-chart"></div>
		</div>
		<div class="col-10 filter-container">
			<label>Naviguer par date</label>
			<input type="text" id="range_slider" />
		</div>
		<div class="col-2">
			<button id="playpause" class="button play pause"></button>
		</div>
	</div>

	<!-- map container -->
	<div class="row">

		<div class="col-lg-9 col-sm-12">
			<div id="map" class="map">
				<div class="tooltip"></div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-12">
			<div class="map-details">
				<h4></h4>
				<p>Survoler/toucher un cercle pour plus d’informations.</p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="source">
				<b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>. La taille des cercles a été modifiée le 15 avril en raison de la forte hausse des cas aux Etats-Unis.</div>
			</div>
		</div>




	<!-- <div class="row padding-bottom">
		<div class="col-lg-10 offset-md-1 col-md-12">
			<h5>Taux d’augmentation</h5>

			<div class="multiline" id="chartIncrease"></div>
			<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
		</div>
	</div> -->

	<div class="row padding-bottom" id="triggerAnimatedChart">

			<div class="offset-md-2 col-md-8 col-sm-12">
				<h5>La Suisse, 2e pays en taux de cas confirmés</h5>
				<p>Depuis lundi, l’Espagne est le pays qui compte le plus d’infections confirmées par million d’habitants, à en croire les <a target="_blank" href="https://github.com/CSSEGISandData/2019-nCoV">données compilées par Johns-Hopkins</a> que nous avons retraitées et divisées par la population mondiale.</p>
				<p>Du mardi 24 au dimanche 29 mars, la Suisse a été le pays comptant le taux le plus élevé. Elle serait en 6e position en décès par million d’habitants, bien que l’épidémie n’ait atteint le pays que le 25 février (contre le 31 janvier pour l’Italie).</p>
				<p>Cependant la fiabilité des données, l’étendue des tests et même la manière de compter les décès liés au Covid-19 varie de pays en pays.</p>

				<!-- <div class="text-center form-check">
					<input type="checkbox" class="form-check-input" id="displayChina">
					<label class="form-check-label" for="displayChina">Décès par Mio d’habitant</label>
				</div> -->

				<p class="text-center no-margin"><b>Date:</b> <span class="date">mercredi 11 mars 2020</span> <span class="horizontal-spacer"></span><i class="fa fa-undo reload" aria-hidden="true"></i></p>

				<div id="animatedBarChart"></div>
				<div>Taux de cas confirmés pour un million d’habitants. Les pays comptant moins d’un million d’habitants ont été écartés.</div>
				<div class="source"><b>Source:</b> <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide" target="_blank">Centre européen de prévention et de contrôle des maladies (ECDC)</a>, données retraitées par <i>Le Temps</i>.</div>
		</div>
	</div>






	<!-- bloc texte -->
	<div class="row text margin-top padding-bottom">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<h3>Le Covid-19 en douze questions</h3>

			<div id="faq" class="card">
				<ul class="list-group list-group-flush">
					<!-- begin qa li -->

					<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapseExample">
    Covid-19, SARS-CoV-2, coronavirus… Qu’est-ce que ces noms désignent?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse0">
    <p>Parlez-vous le coronavirus? Commençons par un rapide point sur la nomenclature utilisée.</p>
<p>L’épidémie est provoquée par un virus de la famille des coronavirus, ou virus à couronne, du nom de l’aspect de ces agents pathogènes: une boule hérissée de spicules formant une couronne.</p>
<p>Il existe plusieurs coronavirus. Celui dont il est question en ce moment, un temps nommé nCoV-2019 pour «nouveau coronavirus de 2019», s’appelle désormais officiellement le SARS-CoV-2, pour «coronavirus responsable du syndrome respiratoire aigu sévère 2».</p>
<p>La maladie qu’il provoque est quant à elle nommée le Covid-19, pour «maladie du coronavirus de 2019».</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/coronavirus-un-nouveau-nom-nest-terrible" target="_blank" rel="noopener">Le coronavirus a un nouveau nom et il n’est pas terrible</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
    Rappelez-moi comment les choses ont démarré, s’il vous plaît.
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse1">
    <p>Selon la version officielle, tout serait parti en décembre 2019 d’animaux vivants vendus sur le marché de Wuhan en Chine et qui auraient transmis le virus à l’homme. Les coronavirus sont des virus dits zoonotiques, à savoir que leurs réservoirs naturels sont des animaux, souvent la chauve-souris. Généralement, le passage vers l’être humain se fait via un autre animal, appelé hôte intermédiaire: la civette masquée pour le SRAS et le dromadaire pour le MERS, deux épidémies provoquées par des coronavirus.</p>
<p>Cet animal intermédiaire pourrait être le pangolin, d’après une étude chinoise. Après avoir testé plus de 1000 échantillons provenant d’animaux sauvages, les scientifiques ont déterminé que les génomes de séquences de virus prélevés sur les pangolins étaient à 99% identiques à ceux trouvés sur des patients atteints du nouveau coronavirus, selon l’agence étatique Chine nouvelle. Mais ces résultats demandent confirmation.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/chauvessouris-chinoises-fabriques-nouveaux-coronavirus" target="_blank" rel="noopener">Les chauves-souris chinoises, fabriques à coronavirus</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
    Quels sont les symptômes provoqués par une infection au coronavirus?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse2">
    <p>Les cas de maladies liés au SARS-CoV-2 peuvent évoluer très différemment et s’accompagner de légers symptômes comme de plus graves nécessitant une hospitalisation chez les sujets souffrant de maladies chroniques ou particulièrement sensibles.</p>
<p>Mais les deux symptômes les plus fréquents sont la fièvre (plus de 38 °C) et une toux sèche pouvant s’accompagner parfois de maux de gorge. D’après l’Organisation mondiale de la santé (OMS), environ une personne infectée sur six devient gravement malade et développe des symptômes plus inquiétants de difficultés respiratoires. Dans ce cas, il convient d’appeler son médecin par téléphone, mais pas de se rendre chez lui ni à l’hôpital sans y être invité.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://blogs.letemps.ch/dr-jean-gabriel-jeannot/2020/03/05/coronavirus-un-test-en-ligne-pour-connaitre-votre-risque/" target="_blank" rel="noopener">Coronavirus: un test en ligne pour connaître votre risque</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample">
    Que faire si je pense être infecté?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse3">
    <p>Commençons par ce que vous ne devez surtout pas faire: aller directement chez le médecin, à l’hôpital sans y avoir été invité: c’est le meilleur moyen pour infecter un grand nombre de personnes, sujets vulnérables et personnels soignants compris.</p>
<p>Ceci étant dit, vous pouvez consulter la plateforme <a href="https://coronavirus.unisante.ch/evaluation" target="_blank" rel="noopener">Coronacheck,</a> première étape utile pour se faire une idée de son état.</p>
<p>En cas d’apparition des symptômes évoqués ci-dessus, vous pouvez appeler la ligne spécialement mise en place par l’Office fédéral de la santé publique (OFSP): le 058 463 00 00, accessible 24 heures sur 24. Mieux vaut éviter d’appeler directement son médecin, dit l’OFSP.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.bag.admin.ch/bag/fr/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/selbst-isolierung-und-selbst-quarantaene.html" target="_blank" rel="noopener">La fiche auto-isolation de l’OFSP vous dira tout</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseExample">
    Comment le virus se propage-t-il?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse4">
    <p>Le virus ne se propage pas seul: ce sont les personnes qui le propagent. Les scientifiques ont encore beaucoup à apprendre à ce sujet, mais ils semblent s’accorder sur le fait que le SARS-CoV-2 se transmet par les sécrétions de personnes à personnes (postillons, toux, etc.) et non par l’air, comme si un nuage de virus pouvait se propager sur de longues distances.</p>
<p>Il subsiste quelques doutes sur la capacité du coronavirus à être transmis via des surfaces infectées – ce qu’on appelle des fomites. De récents travaux en attente de publication ont établi que le SARS-CoV-2 pouvait perdurer plusieurs jours sur du plastique ou de l’acier inoxydable. Une telle infection «peut être possible», évoque le site des Centres américains de contrôle et de prévention des maladies (CDC), si l’on touche une telle surface et qu’on porte ses mains au visage ensuite. Mais ce n’est vraisemblablement pas la principale voie de transmission.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/surfaces-coronavirus-persistetil-plus-longtemps" target="_blank" rel="noopener">Le coronavirus, plus plastique que carton</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseExample">
    Les personnes asymptomatiques peuvent-elles infecter d’autres personnes?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse5">
    <p>Les personnes les plus malades sont aussi les plus contagieuses. Mais les autres? Pour les experts, la durée d’incubation oscille entre sept et quatorze jours. Les risques d’être contaminés par une personne porteuse du virus qui n’aurait pas encore développé de symptômes sont faibles, mais certains cas laissent entendre qu’un tel mode d’infection est possible, sans qu’il s’agisse là encore de la principale voie d’entrée du virus.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/symptomes-transmission-coronavirus-question" target="_blank" rel="noopener">Avec ou sans symptômes, la transmission du coronavirus en question</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseExample">
    Faut-il porter un masque de protection?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse6">
    <p>Depuis le début de l’épidémie, le discours officiel de l’Organisation mondiale de la santé (OMS) rappelle que seuls les personnes présentant des symptômes et les personnels soignants doivent en porter. La plupart des autorités sanitaires nationales le répètent. Les masques chirurgicaux, les plus courants, ne protègent pas contre une infection virale: ils empêchent le porteur d’expectorer des gouttelettes potentiellement infectieuses. Les masques seraient donc plutôt inutiles, d’autant plus qu’ils sont à présent introuvables.</p>
<p>Mais certains experts ne sont pas d’accord avec l’OMS, <a href="https://www.lemonde.fr/idees/article/2020/03/31/ne-pas-porter-de-masque-pour-se-proteger-du-coronavirus-est-une-grande-erreur-affirme-un-haut-scientifique-chinois_6035064_3232.html" target="_blank" rel="noopener">à commencer par le directeur des centres chinois de contrôle et de prévention des maladies</a>. Plusieurs pays asiatiques ont au contraire encouragé la population à se protéger, arguant du fait que si tout le monde se protège, on limite la transmission, comme l’ont montré plusieurs études scientifiques. La protection des masques est donc limitée, mais combinée avec les mesures d’hygiène et de distanciation sociale, elle a bel et bien un effet.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/quatre-questions-lefficacite-masques-protection" target="_blank" rel="noopener">Quatre questions sur l’efficacité des masques de protection</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseExample">
    Mon chat, mon chien, mon perroquet peuvent-ils me transmettre le Covid-19?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse7">
    <p>Début avril, plusieurs cas d’animaux de compagnie testés positifs au SARS-CoV-2 étaient recensés dont trois chiens à Hongkong et un chat en Belgique. Un des chiens est mort, mais sans preuve que ce soit bien le Covid-19 qui ait tué ce loulou de Poméranie à Hongkong. Le virus est extrêmement bien adapté pour infecter les humains, mais cela ne veut pas dire qu’il sera aussi efficace chez un chien. Il peut ouvrir deux portes accédant à l’intérieur des cellules humaines: les protéines transmembranaires ACE2 et TMPRSS2. Protéines qui existent aussi chez le chien, mais de forme légèrement différentes. Peu de chance qu’il puisse donc infecter les cellules de ces animaux, d’autant qu’il semble peu soumis aux mutations génétiques.</p>
<p>En l’état, il y a donc très peu de risque de transmission depuis ou vers les animaux domestiques. Et ce sont ces pauvres bêtes qui trinquent: les refuges du monde entier <a href="https://time.com/5793363/china-coronavirus-covid19-abandoned-pets-wuhan/" target="_blank" rel="noopener">observent un pic d’abandon</a> depuis le début de l’épidémie.</p>
    <p><strong>Sur ce sujet</strong>: <a href="https://www.letemps.ch/sciences/animaux-compagnie-labri-coronavirus" target="_blank" rel="noopener">Les animaux de compagnie à l’abri du coronavirus</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseExample">
    Peut-on être infecté en faisant ses courses?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse8">
    <p>C’est possible, mais facilement évitable en prenant quelques précautions. Possible car le virus persiste jusqu’à trois heures dans des aérosols, et que les supermarchés constituent des environnements confinés: rayons, parkings couverts et autres ascenseurs contribuent à une promiscuité déconseillée. Mais les aérosols ne sont vraisemblablement pas le vecteur principal de transmission.</p>
<p>Les aliments <a href="https://www.efsa.europa.eu/fr/news/coronavirus-no-evidence-food-source-or-transmission-route" target="_blank" rel="noopener">ne sont pas non plus des vecteurs privilégiés</a>, et la cuisson tue les virus. Attention de bien laver ses fruits et légumes, ce qu’il faut de toute façon faire pandémie ou pas. Enfin s’agissant des emballages, ils peuvent être contaminés. Il faut donc les jeter et se laver les mains.</p>
<p>En résumé, en évitant les contacts, en respectant une hygiène stricte, et en lavant ou cuisant bien ses aliments, on ne risque rien.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/faire-courses-risques-gestes-adopter" target="_blank" rel="noopener">Faire ses courses sans risques: les gestes à adopter</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseExample">
    Les enfants peuvent-ils attraper le Covid-19 ou le transmettre?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse9">
    <p>Comme tout le monde, les enfants peuvent être infectés par le SARS-CoV-2, mais ils sont sous-représentés parmi les personnes atteintes. <a href="https://www.nejm.org/doi/full/10.1056/NEJMc2005073?cid=DM88773_&amp;bid=171209032" target="_blank" rel="noopener">Une étude menée sur 72 134 personnes infectées en Chine</a> a montré début mars que seuls 1% d’entre elles avaient moins de 10 ans. La plupart des cas n’étaient pas critiques. Un seul décès a été recensé dans cette étude, chez un bébé de dix mois ayant un facteur de risque pulmonaire. Depuis, des cas de décès chez une fille de 16 ans en France, et une autre de 12 ans en Belgique ont été signalés. Mais il s’agit de formes sévères rarissimes de la maladie.</p>
<p>Quant à la transmission, elle ne semble pas particulièrement portée par les enfants, même si ce point demeure obscur. Parmi les explications possibles, le fait qu’ils toussent «mal» comparé aux adultes, limitant les projections de gouttelettes, ou encore le fait que le nez ne coule pas lors du Covid-19 (les sécrétions nasales étant un vecteur important chez les enfants). Les adolescents ou les jeunes adultes semblent plus à même de transmettre le virus, en raison de faibles symptômes qu’ils subissent.</p>
    <p><strong>Sur ce sujet</strong>: <a href="https://www.letemps.ch/sciences/arnaud-lhuillier-enfants-ne-semblent-moteurs-propagation-virus" target="_blank" rel="noopener">Les enfants et le coronavirus</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseExample">
    Quels sont les traitements donnés en cas de Covid-19?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse10">
    <p>Il n’y a pas de traitement standard étant donné que le SARS-CoV-2 est un virus émergent, qui était inconnu il y a quelques mois. Tant qu’aucune molécule n’a clairement démontré son efficacité à éradiquer le virus, les médecins doivent donc se baser sur des maladies semblables. Pour les patients à risque et hospitalisés, qui présentent des infiltrations pulmonaires et de graves insuffisances respiratoires, il existe plusieurs molécules, au premier rang desquelles les antiviraux.</p>
<p>Le Kaletra, une combinaison de lopinavir et de ritonavir, est utilisé dans certains hôpitaux, dont celui de Genève. Autre possibilité: le remdesivir, produit par Gilead, ou encore l’hydroxychloroquine, un ancien antipaludique à l’efficacité relative. Tous ces médicaments – et d’autres – font actuellement l’objet d’essais cliniques afin de déterminer leur efficacité et leur innocuité.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/hopitaux-valse-traitements" target="_blank" rel="noopener">Dans les hôpitaux, la valse des traitements</a></p>
  </div>
</li>

<li class="list-group-item">
  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseExample">
    Peut-on perdre l’odorat si l’on est infecté?
    <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
  </button>
  <div class="collapse" id="collapse11">
    <p>Négligée depuis l’irruption de la maladie, la perte de l’odorat est désormais relevée dans de nombreux pays et pourrait être expliquée par la capacité du nouveau coronavirus à infecter le système nerveux central des malades – notamment les zones du cerveau traitant les informations olfactives.</p>
<p>Des études ont rapporté la présence du SARS-CoV-1 (très proche génétiquement) dans le système nerveux de malades lors de l’épidémie de SRAS au début des années 2000. D’autres travaux ont mis en évidence chez la souris la diffusion du virus dans le bulbe olfactif puis dans le reste du cerveau. De quoi laisser supposer à certains scientifiques que les difficultés respiratoires des patients pourraient être aussi le fait d’atteintes aux centres nerveux en charge du contrôle de la respiration.</p>
    <p><strong>Sur ce sujet:</strong> <a href="https://www.letemps.ch/sciences/nouveau-coronavirus-sattaquetil-aux-neurones-lolfaction" target="_blank" rel="noopener">Le nouveau coronavirus s’attaque-t-il aux neurones de l’olfaction?</a></p>
  </div>
</li>
					<!-- end qa li -->
				</ul>
			</div>

			<!-- <p><b>A consulter également:</b> <a target="_blank" href="https://labs.letemps.ch/interactive/2020/covid-trends/">Covid-19: histoire d’une médiatisation
			</a></p>
			<div class="text-center" id="corona-search">
				<a target="_blank" href="https://labs.letemps.ch/interactive/2020/covid-trends/">
				<video loop="true" muted="true" autoplay="true" playsinline="">
					<source src="img/apercu_covid-trends.mp4" type="video/mp4">
					Votre navigateur ne supporte pas les vidéos HTML.
				</video>
				</a>
			</div> -->

		</div>
	</div> <!-- fin bloc texte -->

	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<h3>Données et méthode</h3>

			<p>Les données concernant <b>le monde entier ou des pays</b> sont fondées sur <a target="_blank" href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">les fichiers diffusés quotidiennement par l’agence européenne ECDC</a>, à l’exception de la situation en temps réel, qui repose sur les <a target="_blank" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">compilations en continu de l’université Johns-Hopkins</a>.</p>

			<p>Les <b>données des cantons Suisses</b> proviennent de <a target="_blank" href="https://github.com/openZH/covid_19">l’unité Open Data du canton de Zurich</a> (OpenZH). Compilé plus rapidement que les statistiques de l’OFSP, le total suisse diffère de celui indiqué dans les statistiques mondiales.</p>

			<p>Les chiffres présentés <b>en haut de la page d’accueil</b> du «Temps» proviennent d’OpenZH pour la Suisse et de Johns-Hopkins pour le total mondial. Ces totaux sont complétés à mesure que les cantons et les autorités de chaque pays publient leur bilan. Le nombre de cas confirmés en Suisse est comparé à celui de la veille quand plus de 12 cantons ont publié leur bilan du jour et à l’avant-veille dans le cas contraire.</p>

			<p>Du 27 janvier au 22 mars, cette page était actualisée grâce aux données de Johns-Hopkins, qui incluaient une estimation des guérisons. Cette université fournit un énorme travail de compilation des bilans officiels et des chiffres annoncés dans les médias en ligne, mais des erreurs importantes se sont fréquemment retrouvées dans les données.</p>

			<p>Des chiffres de l’OFSP ont également été utilisés à plusieurs reprises. Nous avons dû y renoncer faute de continuité dans les séries temporelles.</p>

			<p>Le tableau des cas confirmés et décès est mis à jour chaque heure. Les cartes et infographies sont mises à jour entre 10 heures et 15 heures, selon la disponibilité des données. Les taux de cas et de décès sont calculés à partir de la population 2018 selon la Banque mondiale pour les pays et selon l’Office fédéral de la statistique pour les cantons.</p>

			<p>Les données géographiques sont ajoutées sur la base de l’abréviation sur trois lettres des pays (code alpha-3) et sur deux lettres des cantons. Nous réparons un maximum de données pour les pays, mais des chiffres relatifs aux trois pays suivants ne sont pas affichés pour cause de codes alpha-3 manquants: Pays-Bas caribéens, Anguilla et îles Malouines (18 cas confirmés au total le 15 avril).</p>

			<p>Pour que l’aire des cercles soit proportionnelle au nombre de cas, ceux des cantons sont calculés au moyen d’une racine carrée. En raison des très grandes différences entre les pays (d’une poignée à plus d’un demi-million de cas), les cercles de la carte mondiale sont basés sur la puissance de 1/1.75.</p>

			<p style="margin-bottom: 4px;"><b>A consulter également:</b></p>

			<ul>
					<li><a href="https://labs.letemps.ch/interactive/2020/covid-trends/">Covid-19: histoire d’une médiatisation</a></li>

					<li> notre <a href="https://www.letemps.ch/dossiers/menace-covid19">dossier sur le Covid-19</a></li>
				</ul>

			<p class="credits">Infographies: Paul Ronga, code <a target="_blank" href="https://github.com/labsletemps/coronavirus-world-map-evolution">disponible sur GitHub</a> <a class="warn_error"></a></p>
		</div>
	</div>
</div>

{{ block('footer_brand') }}

<!-- 14 merged, minified libraries -->
<script src="lib-merged/libraries.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.5.1/d3-annotation.min.js"></script>

<script>
var controller = new ScrollMagic.Controller();
var smallWindow = $( window ).width() < 600;
</script>
<script src="js/map.js?UPDATE"></script>
<script src="js/mapCH.js?UPDATE"></script>
<script src="js/animatedBarChartRelative.js?UPDATE"></script>
<script src="js/multiLineChart.js?UPDATE"></script>

<script>

var timeLocale = {
	"dateTime": "%A %e %B %Y",
	"date": "%d/%m/%Y",
	"time": "%H:%M:%S",
	"periods": ["AM", "PM"],
	"days": ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
	"shortDays": ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
	"months": ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
	"shortMonths": ["janv.", "févr.", "mars", "avr.", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."]
}
d3.timeFormatDefaultLocale(timeLocale);


var chartMovingAvg = new multilineChart({'selector': '#chartMovingAvg', 'file': 'data/cases_timestamp_deaths.csv?UPDATE', 'timeScale': true, 'xTickFormat': "d", 'margin': { top: 40, bottom: 30, left: 42, right: 75 } });

new ScrollMagic.Scene({triggerElement: "#chartMovingAvg", duration: 300})
	.addTo(controller)
	.on("enter", function(){
		chartMovingAvg.addFatLine();

		chartMovingAvg.annotate("En Italie, 795 décès en un dimanche", {x: new Date('2020-03-22'), y: 800}, -30, -50);

		// chartMovingAvg.annotate("2004 décès en 24 heures en France", {x: new Date('2020-04-04'), y: 2000}, -20);

		chartMovingAvg.annotate("2087 décès en 24 heures", {x: new Date('2020-04-11'), y: 2090}, -20);
});

/*
var chartMovingAvgPop = new multilineChart({'selector': '#chartMovingAvgPop', 'file': 'data/cases_timestamp_3d.csv?UPDATE', 'timeScale': true, 'xTickFormat': "d"});

new ScrollMagic.Scene({triggerElement: "#chartMovingAvgPop", duration: 300})
	.addTo(controller)
	.on("enter", function(){
		chartMovingAvgPop.addFatLine();
		// chartMovingAvg.annotate("2000 décès en 24 heures", {x: new Date('2020-04-11'), y: 6}, -50, -50);
});*/

var chartCantons = new multilineChart({'selector': '#chartCantons', 'file': 'data/c3-cantons-switzerland.csv?UPDATE', 'timeScale': true, 'margin': { top: 40, bottom: 30, left: 40, right: 20 }});

var chartAbsolute = new multilineChart({'selector': '#chartAbsolute', 'file': 'data/cases_timestamp.csv?UPDATE', 'timeScale': true, 'xTickFormat': ".2s"});

new ScrollMagic.Scene({triggerElement: "#chartAbsolute", duration: 300})
	.addTo(controller)
	.on("enter", function(){
		chartAbsolute.addFatLine();
		// chartAbsolute.annotate("23 janvier: Wuhan confinée", {x: new Date('2020-01-23'), y: 5000}, 0, -60);

		chartAbsolute.annotate("31 janvier: premier cas en Italie", {x: new Date('2020-01-31'), y: 5000}, 0, -60);

		chartAbsolute.annotate("17 mars: début du confinement en France", {x: new Date('2020-03-17'), y: 10000}, 0, -120);
});





var chartDayOffset = new multilineChart({'selector': '#chartDayOffset', 'file': 'data/cases_per_pop_day0.csv?UPDATE'});

new ScrollMagic.Scene({triggerElement: "#chartDayOffset", duration: 300})
	.addTo(controller)
	.on("enter", function(){
		chartDayOffset.addFatLine();

		if(!smallWindow){
			chartDayOffset.annotate("Les pays sont alignés sur leur «jour 0»", {x: 0, y: 50}, 0);
		}

		chartDayOffset.annotate("Fin du dépistage systématique en Suisse", {x: 14, y: 185}, -5);
});

var chartDeath = new multilineChart({'selector': '#chartDeath', 'file': 'data/deaths_per_pop_day0.csv?UPDATE'});

new ScrollMagic.Scene({triggerElement: "#chartDeath", duration: 300})
	.addTo(controller)
	.on("enter", function(){
		chartDeath.addFatLine();
		chartDeath.annotate("L’Espagne enregistre plus de 500 décès en 24 heures", {x: 23, y: 52}, -25);

});


$(document).ready(function() {
	$('#faq button').click(function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
		} else {
			$('#faq button.active').removeClass('active');
			$('.collapse').collapse('hide');
			$(this).addClass('active');
		}
	});

	var numberLocale = d3.formatLocale({
	  decimal: ",",
	  thousands: '\xa0',
	  grouping: [3]
	});
	var format = numberLocale.format(",d");

	var d = new Date();
	var update = Math.round(d.getTime() / 10000);

	if (window.fetch) {
		fetch('data/metaAuto.json?' + update)
			.then(function(response) { return response.json(); })
			.then(function(data) {
			$('.warn_error').text('Signaler une erreur');
			$('<span>| </span>').insertBefore('.warn_error')
			$('.warn_error').attr('href', 'mailto:' + data['contact'] + '@letemps.ch');
			$('.deaths_total').text( format( data['deaths_total'] ) )
			$('.confirmed_total').text( format( data['confirmed_total'] ) )
			$('.confirmed_total_floor').text( format( Math.floor(data['confirmed_total'] / 1000) * 1000 ) )

			$('.confirmed_total_ch').text( format( data['confirmed_ch'] ) )
			$('.deaths_total_ch').text( format( data['deaths_ch'] ) )


			$('.dashboardUpdate').text(data['dashboardUpdate'])
			$('.dashboardUpdate_ch').text(data['dashboardUpdate_ch'])
		});
	}
}); // end on ready

</script>


</body>
</html>
