{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/c3.min.css"/>

	<link rel="stylesheet" type="text/css" href="css/style.css?UPDATE" />
	<link rel="stylesheet" type="text/css" href="css/map.css?UPDATE" />
	<link rel="stylesheet" type="text/css" href="css/ion.rangeSlider.css" />
	<style>
	.c3-area {
		opacity: 0.6 !important;
	}
	.big{
		font-size: 2em;
	}
	.label{
		color: #555;
	}
	</style>
</head>

<body>

	{{ block('bar_brand') }}

	{# Emplacement pour le contenu principal #}
	<div class="container">

		<div class="row">
			<div class="offset-md-2 col-md-8 col-sm-12">
				<h1 class="intro">L’expansion du nouveau coronavirus</h1>

				<p class="lead">Le SARS-CoV-2 a causé <span class="deaths_total">____</span> décès et plus de <span class="confirmed_total_floor">_____</span> infections confirmées dans le monde. L’Italie est devenue le deuxième pays comptant le plus de cas, derrière la Chine</p>

				<p><b>Avertissement</b> <br>

					• Nous pouvons difficilement maintenir à jour les chiffres détaillés pour la Suisse en raison de l'incapacité de l'OFSP à fournir des données fiables et actualisées.<br>
					• La disponibilité des données, leur degré de précision et leur fiabilité varie de pays en pays.<br>
					• Les cas confirmés ne correspondent qu’à une portion des cas réels. Selon les pays, le suivi du nombre de guérisons est très lacunaire.
				</p>

			</div>
		</div>




			<!--
			<div class="chart-background margin-top margin-bottom">
			<div class="row four-graphs">

			<div class="col-lg-6 col-md-12">
			<h5>Nouveaux cas en Suisse</h5>
			<p>Etat au mercredi 11 mars à 13h00. Le total inclut les infections qui ont été confirmées par un laboratoire cantonal, mais n’ont pas encore été contrôlées par un second laboratoire.</p>
			<div class="c3-chart" id="chart-switzerland-evolution"></div>
		</div>


		<div class="col-lg-6 col-md-12">
		<h5>Dans les cantons</h5>
		<p>ZZy.</p>
		<div class="c3-chart" id="chart-switzerland-cantons"></div>

	</div>
</div>
</div>
-->

<div class="row numbers text-center align-items-top margin-bottom outline worldmap">
	<div class="col-12 group-label">
		<h5>Situation dans le monde</h5>
		<p>Données compilées le <b class="dashboardUpdate">11 mars à 0h50</b></p>
	</div>

	<div class="col-md-3 col-6">
		<span class="big confirmed_total">_____</span><br>
		<span class="label">cas confirmés cumulés</span>
	</div>
	<div class="col-md-3 col-6">
		<span class="big existing_total">___</span><br>
		<span class="label">cas encore existants</span>
	</div>
	<div class="col-md-3 col-6">
		<span class="big recovered_total">___</span><br>
		<span class="label">guérisons</span>
	</div>
	<div class="col-md-3 col-6">
		<span class="big deaths_total">___</span><br>
		<span class="label">décès</span>
	</div>

	<div class="col-12">
		<div class="source">Source:
			<a target="_blank" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Université Johns-Hopkins</a>
		</div>
	</div>
</div>

<!-- toolbox -->

<div class="row align-items-end">
	<div class="col-12 group-label text-center">
		<h5>Evolution dans le monde depuis le 22 janvier</h5>
	</div>

	<div class="col-12">
		<div id="time-serie-chart"></div>
	</div>
	<div class="col-10 filter-container">
		<label>Naviguer par date</label>
		<input type="text" id="range_slider" />
	</div>
	<div class="col-2">
		<button id="playpause" class="button play pause"></button>
	</div>
</div>

<!-- map container -->
<div class="row">

	<div class="col-lg-9 col-sm-12">
		<div id="map" class="map">
			<div class="tooltip"></div>
		</div>
	</div>

	<div class="col-lg-3 col-sm-12">
		<div class="map-details">
			<h4></h4>
			<p>Survoler/toucher un cercle pour plus d’informations.</p>
		</div>
	</div>
	<div class="col-lg-12">
		<div><b>Note:</b> malgré nos efforts pour les éliminer, des erreurs dans nos sources de données peuvent subsister, en particulier dès le 13 mars.</div>
		<div class="source">
			La taille maximale des cercles a été réduite le 23 mars pour limiter les chevauchements.
			Entre le 9 et le 10 mars, Johns-Hopkins a changé le niveau de détail de ses données pour les Etats-Unis, passant des comtés aux états.
			Des données au niveau des circonscriptions sont affichées pour les pays suivants: Etats-Unis, Chine, Australie, Canada, Royaume-Uni, Danemark. Source: compilation du <a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">CSSE de l’Université Johns-Hopkins</a>,
			mise à jour le <span class="mapUpdate"></span> et retraitée par <i>Le Temps</i>.</div>
		</div>
	</div>

	<div class="chart-background margin-top margin-bottom">
		<div class="row four-graphs">

			<div class="col-lg-6 col-md-12">
				<h5>Nouvelles guérisons et infections</h5>
				<p>Après une accalmie, on compte à nouveau plus de nouvelles infections confirmées que de guérisons depuis le 5 mars.</p>
				<div class="c3-chart" id="chart-recoveries"></div>
			</div>


			<div class="col-lg-6 col-md-12">
				<h5>Flambée en Europe</h5>
				<p>En cas existants (déduction faite des guérisons et décès), l’Allemagne, les Etats-Unis et l’Italie dépassent désormais la Chine.</p>
				<div class="c3-chart" id="chart-china-other"></div>

			</div>
		</div>
	</div>

	<div class="row align-items-end">
		<div class="col-12 group-label text-center">
			<h5>Evolution en Suisse depuis le 6 mars</h5>
		</div>

		<div class="col-12">
			<div id="time-serie-chart-ch"></div>
		</div>
		<div class="col-10 filter-container-ch">
			<label>Naviguer par date</label>
			<input type="text" id="range_sliderCH" />
		</div>
		<div class="col-2">
			<button id="playpauseCH" class="button play-ch pause-ch"></button>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-9 col-sm-12">
			<div id="mapCH" class="map">
			</div>
		</div>

		<div class="col-lg-3 col-sm-12">
			<div class="map-details-CH">
				<h4></h4>
				<p>Survoler/toucher un cercle pour plus d’informations.</p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="source"><b>Note</b> Les données cantonales manquantes, complétées par le jour précédent, sont indiquées par des cercles oranges. L’Office fédéral de la santé publique (OFSP) fournit des rapports quotidiens en PDF, mais ne publie pas les données brutes. Les tests systématiques ont été interrompus le 15 mars. Cette infographie est mise à jour grâce aux compilations de tweets de l’OFSP et de pages d’information cantonales par l’informaticien Daniel Probst.</div>
			<div class="source">Source: <a target="_blank" href="https://www.corona-data.ch">corona-data.ch</a>, OFSP, cantons suisses. Population dans les cantons: <a target="_blank" href="https://www.bfs.admin.ch/bfs/fr/home.assetdetail.9486063.html">OFS</a></div>
			</div>
		</div>


	<div class="row padding-bottom">
		<div class="col-lg-10 offset-md-1 col-md-12">
			<h5>Les dix cantons suisses comptant le plus de cas</h5>
			<p>Vaud, Genève et le Tessin sont les cantons qui comptent le plus de cas confirmés. Le Tessin compte le plus haut taux par habitant (27 infections confirmées pour 10 000 habitants le samedi 21 mars). Le graphique est actualisé lorsque des données complètes par canton le permettent.</p>
				<div class="c3-chart" id="chart-swiss-cantons"></div>
			<div class="source">Source: <a target="_blank" href="https://www.corona-data.ch">corona-data.ch</a>, OFSP, cantons suisses.</div>
		</div>
	</div>

	<div class="row padding-bottom">
		<!-- <div class="outline"> -->
			<div class="col-12 group-label text-center">
				<h5>Les dix pays les plus touchés, sans la Chine</h5>
			</div>

			<div class="offset-md-2 col-md-8 col-sm-12">

				<p>En vingt jours, l’Italie est passée de 20 à plus de 10 000 cas, tandis que la Suisse a fait son entrée dans les dix pays comptant le plus de cas confirmés.</p>


				<div class="text-center form-check">
					<input type="checkbox" class="form-check-input" id="displayChina">
					<label class="form-check-label" for="displayChina">Montrer la Chine</label>
				</div>

				<p class="text-center no-margin"><b>Date:</b> <span class="date">mercredi 19 février 2020</span> <span class="horizontal-spacer"></span><i class="fa fa-undo reload" aria-hidden="true"></i></p>

				<div id="animatedBarChart"></div>
				<div>Cas cumulés (sans prise en compte des guérisons) de Covid-19, sans la Chine ni le paquebot «Diamond Princess».</div>
				<div class="source">Source:
					<a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">Université Johns-Hopkins</a>, données retraitées par <i>Le Temps</i></div>
				</div>
			<!-- </div> -->
		</div>

	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12">


			  <h5>Le point scientifique sur le coronavirus</h5>
			  <ul>
					<li><a href="https://letemps.ch/sciences/chloroquine-une-piste-lutter-contre-sarscov2">La chloroquine, une piste pour lutter contre le SARS-CoV-2</a></li>
					<li><a href="https://letemps.ch/sciences/suisse-ne-fera-tests-large-echelle">La Suisse ne fera pas de tests à large échelle</a></li>
					<li><strong>En vidéo:</strong>&nbsp;<a href="https://letemps.ch/node/1200340">Le coronavirus en 3 questions</a></li>
					<li><a href="https://letemps.ch/sciences/covid19-bien-pire-quune-grippe">Le Covid-19, bien pire qu’une grippe</a></li>
					<li><a href="https://letemps.ch/sciences/remede-contre-coronavirus-existait-deja">Et si le remède existait déjà?</a></li>
					<li><a href="https://letemps.ch/sciences/masques-ne-protegent-bien-virus">Les masques ne protègent pas bien des virus</a></li>
				</ul>

			<p><b>Consultez </b> notre <a target="_blank" href="https://www.letemps.ch/dossiers/menace-covid19">dossier sur le Covid-19</a></p>

			<p class="credits">Infographies: Paul Ronga, code <a target="_blank" href="https://github.com/labsletemps/coronavirus-world-map-evolution">disponible sur GitHub</a> <a class="warn_error"></a></p>
		</div>
	</div>
</div>

{{ block('footer_brand') }}

<!-- 14 merged, minified libraries -->
<script src="lib-merged/libraries.js"></script>

<script>
var controller = new ScrollMagic.Controller();
</script>
<script src="js/map.js?UPDATE"></script>
<script src="js/mapCH.js?UPDATE"></script>
<script src="js/animatedBarChart.js?UPDATE"></script>

<script>

$(document).ready(function() {
	var locale = d3.formatLocale({
	  decimal: ",",
	  thousands: '\xa0',
	  grouping: [3]
	});
	var format = locale.format(",d");

	var d = new Date();
	var update = Math.round(d.getTime() / 10000);

	if (window.fetch) {
		fetch('data/metaAuto.json?' + update)
		.then(function(response) { return response.json(); })
		.then(function(data) {
		$('.warn_error').text('Signaler une erreur');
		$('<span>| </span>').insertBefore('.warn_error')
		$('.warn_error').attr('href', 'mailto:' + data['contact'] + '@letemps.ch');
		$('.deaths_total').text(data['deaths_total'])
		$('.confirmed_total').text( format( data['confirmed_total'] ) )
		$('.confirmed_total_floor').text( format( Math.floor(data['confirmed_total'] / 1000) * 1000 ) )
		$('.recovered_total').text( format( data['recovered_total'] ) )
		$('.existing_total').text( format( data['existing_total'] ) )


		$('.update').text(data['update'])
		$('.dataUpdate').text(data['dataUpdate'])
		$('.mapUpdate').text(data['mapUpdate'])
		$('.dashboardUpdate').text(data['dashboardUpdate'])
	});
}

/* c3 graph switzerland */
var chartCH = c3.generate({
	padding: {
		right: 40,
	},
	size: {
		height: 400
	},
	bindto: "#chart-swiss-cantons",

	data: {
		url: 'data/c3-cantons-switzerland.csv?UPDATE',
		type: 'line',
		x: 'Date',
		colors: {

		}
	},
	axis: {
		x: {
			type: 'timeseries',
			tick: {
				format: '%d.%m.%Y',
				count: 4
			},
		},
		y: {
				tick: {
					values: [0, 500, 1000, 1500, 2000],
				}
			}
		},
		grid: {
			y: {
				lines: [
					{ value: 0},
					{ value: 500},
					{ value: 1000},
					{ value: 1500},
					{ value: 2000},
				]
			}
		}
}); // end c3js graph

/* c3 graphs bottom */
var chart = c3.generate({
	padding: {
		right: 40,
	},
	size: {
		height: 200
	},
	bindto: "#chart-recoveries",

	data: {
		url: 'data/c3-cas-guerisons.csv?UPDATE',
		type: 'line',
		x: 'timestamp',
		colors: {
			'Nouveaux cas': '#930025',
			'Nouvelles guérisons': '#4E8054'
		}
	},
	axis: {
		x: {
			type: 'timeseries',
			tick: {
				format: '%d.%m.%Y',
				count: 4
			},
		},
		y: {
			tick: {
				values: [0, 5000, 10000, 15000, 20000]
			}
		}
	},
	grid: {
		x: {
			lines: [
				{ value: '2018-02-12', label: 'Nouvelle méthode'},
			]
		}
	}
}); // end c3js graph

var chartCases = c3.generate({
	padding: {
		right: 40
	},
	size: {
		height: 200
	},
	bindto: "#chart-china-other",

	data: {
		url: 'data/top5_existing.csv?UPDATE',
		type: 'line',
		x: 'date',
		labels: {
			format: function(d, country, i){
						if(i == 2 && (country == 'Italie' || country == 'Chine')){
							return country
						}else{
							return null
						}
         },
			 },
		colors: {
			'Nouveaux cas hors de la Chine': '#930025',
			'Nouvelles guérisons': '#4E8054'
		}
	},
	axis: {
		x: {
			type: 'timeseries',
			tick: {
				format: '%d.%m.%Y',
				count: 4
			},
		},
		y: {
			tick: {
				values: [0, 10000, 20000, 30000, 40000, 50000, 60000],
			}
		}
	},
}); // end c3js graph



/*
var chartSwitzerlandEvolution = c3.generate({
padding: {
right: 40
},
size: {
height: 200
},
bindto: "#chart-switzerland-evolution",

data: {
url: 'data/c3-switzerland-evolution?UPDATE',
type: 'area',
x: 'timestamp',
colors: {
'Cas confirmé': '#930025',
'En attente 2e contrôle': '#4E8054'
}
},
axis: {
x: {
type: 'timeseries',
tick: {
format: '%d.%m.%Y',
count: 4
},
},
y: {
tick: {
values: [0, 1000, 2000]
}
}
},
}); // end c3js graph

*/
});

</script>


</body>
</html>
